body {
  margin: 40px;
}

.menu_div {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.sub_div {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}



.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

hr { 
  /*display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;*/
  border-style: inset;
  border-width: 1px;
}


